NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_WEBSITE_TITLE=Nextjs, Typescript, Tailwindcss Boilerplate
NEXT_PUBLIC_WEBSITE_DESCRIPTION=Inovative Front-end developer, ambitious problem solver with a passion for learning and teaching and Nerd.
NEXT_PUBLIC_WEBSITE_LINK=https://google.com
NEXT_PUBLIC_TWITTER_PAGE=@nextjs_boilerplate